<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="assets/img/logo.png" alt="" class="nav__logo-img"> 
            Christmas
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#celebrate" class="nav__link">Celebrate</a>
                </li>
                <li class="nav__item">
                    <a href="#gift" class="nav__link">Gifts</a>
                </li>
                <li class="nav__item">
                    <a href="#new" class="nav__link">New</a>
                </li>
                <li class="nav__item">
                    <a routerLink="/login" class="nav__link">Login</a>/<a routerLink="/sign-up" class="nav__link">Signup</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x' ></i>
            </div>

            <img src="./assets/img/nav-light.png" alt="" class="nav__img">
        </div>
        <div class="nav__btns">
            <!-- Theme change button -->
            <i class='bx bx-moon change-theme' id="theme-button"></i>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt' ></i>
            </div>
        </div>

    </nav>
</header>