<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div>
            <a href="#" class="footer__logo">
                <img src="./assets/img/logo.png" alt="" class="footer__logo-img"> 
                Christmas
            </a>

            <p class="footer__description">
                This Christmas give <br> a lot of love
            </p>
        </div>

        <div>
            <h3 class="footer__title">Our Services</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Pricing</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Discounts</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Shipping mode</a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer__title">Support</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">FAQs</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Support center</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Contact Us</a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer__title">Available On</h3>

            <div class="footer__aviables">
                <img src="./assets/img/aviable1.png" alt="" class="footer__aviable-img">
                <img src="./assets/img/aviable2.png" alt="" class="footer__aviable-img">
            </div>
        </div>

        <img src="./assets/img/footer1.png" alt="" class="footer__img1">
        <img src="./assets/img/footer2.png" alt="" class="footer__img2">
    </div>

    <span class="footer__copy">&#169; Bedimcode. All rigths reserved</span>
</footer>