<app-header></app-header>

<!--==================== MAIN ====================-->
<main class="main">
    
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="./assets/img/home.png" alt="sing up image"></figure>
                    <a routerLink="/sign-up" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Login</h2>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="xyz()" class="register-form" id="login-form">
                      <div class="form-group">
                          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" formControlName="email" id="your_name" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="off"/>
                          <div *ngIf="submitted && f['email']?.touched && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['pattern']">Email is invalid</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" formControlName="password" id="your_pass" placeholder="Your Password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                          <div *ngIf="f['password']?.touched && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['pattern']">
                              Password must be eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                          <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" (click)="onSubmit()" name="signin" id="signin" class="form-submit" value="Log in"/>
                      </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"><span class="mdi mdi-facebook"></span></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"><span class="mdi mdi-twitter"></span></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"><span class="mdi mdi-google"></span></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<app-footer></app-footer>
