<!--==================== CELEBRATE ====================-->
<section class="celebrate section container" id="celebrate">
    <div class="celebrate__container grid">
        <div class="celebrate__data">
            <h2 class="section__title celebrate__title">
                Celebrate With A <br> Lot Of Love
            </h2>
            <p class="celebrate__description">
                In this holidays, celebrate with much love and peace, offering many 
                blessings to our loved ones, friends and neighbors, wishing them 
                a good Christmas message.
            </p>
            <a href="#" class="button">Send Good Wishes</a>
        </div>

        <img src="assets/img/celebrate.png" alt="" class="celebrate__img">
    </div>
</section>