<!--==================== HOME ====================-->
<section class="home" id="home">
    <div class="home__container container grid">
        <img src="./assets/img/home.png" alt="" class="home__img">

        <div class="home__data">
            <h1 class="home__title">Merry Christmas and <br> Happy New Year!</h1>
            <p class="home__description">
                Christmas and a new year is about to begin, 
                all good wishes and successes.
            </p>
            <a href="#" class="button">Get Started</a>
        </div>
    </div>
</section>