<!--==================== GIFT ====================-->
<section class="gift section container" id="gift">
    <h2 class="section__title">Share A Gift</h2>

    <div class="gift__container grid">
        <article class="gift__card">
            <img src="assets/img/gift1.png" alt="" class="gift__img">
            <i class='bx bx-heart gift__icon'></i>
            
            <h3 class="gift__price">$15</h3>
            <span class="gift__title">Gingerbread</span>
        </article>

        <article class="gift__card">
            <img src="assets/img/gift2.png" alt="" class="gift__img">
            <i class='bx bx-heart gift__icon'></i>
            
            <h3 class="gift__price">$22</h3>
            <span class="gift__title">Santa Claus Hat</span>
        </article>

        <article class="gift__card">
            <img src="assets/img/gift3.png" alt="" class="gift__img">
            <i class='bx bx-heart gift__icon'></i>
            
            <h3 class="gift__price">$48</h3>
            <span class="gift__title">Christmas Tree</span>
        </article>

        <article class="gift__card">
            <img src="assets/img/gift4.png" alt="" class="gift__img">
            <i class='bx bx-heart gift__icon'></i>
            
            <h3 class="gift__price">$35</h3>
            <span class="gift__title">Snowman</span>
        </article>

        <article class="gift__card">
            <img src="assets/img/gift5.png" alt="" class="gift__img">
            <i class='bx bx-heart gift__icon'></i>
            
            <h3 class="gift__price">$12</h3>
            <span class="gift__title">Candy Stick</span>
        </article>
    </div>
</section>