<!--==================== GIVING ====================-->
<section class="giving section container">
    <h2 class="section__title">
        Start Giving This <br> Christmas
    </h2>

    <div class="giving__container grid">
        <div class="giving__content">
            <img src="assets/img/giving1.png" alt="" class="giving__img">
            <h3 class="giving__title">Surprise gifts</h3>
            <p class="giving__description">They are the best gifts there is.</p>
        </div>

        <div class="giving__content">
            <img src="assets/img/giving2.png" alt="" class="giving__img">
            <h3 class="giving__title">Ornaments</h3>
            <p class="giving__description">Give a moment to decorate.</p>
        </div>

        <div class="giving__content">
            <img src="assets/img/giving3.png" alt="" class="giving__img">
            <h3 class="giving__title">Lots of love</h3>
            <p class="giving__description">Give away feelings that last forever.</p>
        </div>
    </div>
</section>